.check {
  width: 400px;
  height: 120px;
  background-color: #fff;
  padding-top: 18px;
  margin: 120px auto;
  display: flex;
  flex-direction: row;
  padding-left: 20px;
  
}

#myalert {
  margin-top: 20px;
  width: 270px;
}

.check__button {
  width: 100px;
}
.check__input {
  width: 180px;
  height: 50px;
}

.check__img {
  display: block;
  margin: 50px auto;
}

@media (max-width: 420px) {
  .check {
    margin-left: 25px;
  }
}
