.contact {
  width: 450px;
  height: 370px;
  background-color: #fff;
  border: 1px solid #e4e5e7;
  box-shadow: 0 0 1em #eee;
  margin: 80px auto;
  box-sizing: border-box;
}

.contact__input {
  display: block;
  width: 400px;
  margin: 20px auto;
  height: 170px;
}

.contact__number {
  text-align: center;
  display: block;
  width: 300px;
  margin: 20px auto;
  height: 50px;
}
.contact__input,
.contact__number {
  outline-color: #2094ad;
}

.contact__button {
  display: block;
  margin: 50px auto;
}

@media (max-width: 430px) {
  .contact {
    width: 400px;
    margin-left: 30px;
  }
  .contact__input {
    width: 340px;
  }
}
