.card {
  width: 490px;
  height: 200px;
  background-color: #fff;
  margin: 10px auto;
  border-radius: 4px;
  border: 1px solid #e4e5e7;
  box-shadow: 0 0 1em #eee;
  display: flex;
  flex-direction: column;
}

.card__title {
  height: 74px;
  position: relative;
}

.card__image {
  border-radius: 100%;
  margin-left: 5px;
}

.card__title-text {
  position: absolute;
  color: #2094ad;
  left: 65px;
  top: 10px;
  font-size: 14px;
}

.link {
  color: #2094ad;
}

.card__title-details {
  position: absolute;
  right: 4px;
  top: 10px;
  font-size: 12px;
}

.card__job {
  position: absolute;
  left: 65px;
  top: 32px;
}

.card__spec-text {
  position: absolute;
  left: 70px;
  font-weight:lighter;
  font-size: 13px;
  top: 32px;
}

.card__body {
  height: 95px;
}
.card__body > p {
  font-size: 12px;
  padding: 10px 8px 5px 5px;
  text-align: justify;
  font-family: sans-serif;
  color: #6A6C6F; 
}
.card__footer {
  position: relative;
}

.card__footer > img {
  position: absolute;
  right:50px;
}

.card__footer > p {
  position: absolute;
  font-size: 13px;
  right: 10px;
}

@media (max-width: 414px) {
  .card {
    width: 315px;
  }
}


